@using System.ComponentModel

@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>
<div class="main">
    <div class="container mt-5">
        @Body
    </div>
</div>
